Source: wordlists
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.kali.org
Vcs-Git: ssh://git@git.kali.org/packages/wordlists.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/wordlists.git;a=summary

Package: wordlists
Architecture: all
Depends: ${misc:Depends}
Description: Contains the rockyou wordlist
 This package contains the rockyou.txt
 wordlist and has an installation size
 of 134 MB.
